<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bkbnewslogoblue"
        android:label="BKBNews"
        android:roundIcon="@drawable/bkbnewslogoblue"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".UpdateXoso"
            android:exported="false" />
        <activity
            android:name=".CreateXoso"
            android:exported="false" />
        <activity
            android:name=".UpdateGiaVang"
            android:exported="false" />
        <activity
            android:name=".CreateGiaVang"
            android:exported="false" />
        <activity
            android:name=".DeleteComment"
            android:exported="false" />
        <activity
            android:name=".CommentManager"
            android:exported="false" />
        <activity
            android:name=".UpdateCateNews"
            android:exported="false" />
        <activity
            android:name=".UpdateSourceNews"
            android:exported="false" />
        <activity
            android:name=".UpdateDetailsNews"
            android:exported="false" />
        <activity
            android:name=".DeleteUser"
            android:exported="false" />
        <activity
            android:name=".DisplayDetailsNews"
            android:exported="false" />
        <activity
            android:name=".CreateDetailsNews"
            android:exported="false" />
        <activity
            android:name=".UpdateNews"
            android:exported="false" />
        <activity
            android:name=".ConfirmEmail"
            android:exported="false" />
        <activity
            android:name=".NewsSetting"
            android:exported="false" />
        <activity
            android:name=".CreateNews"
            android:exported="false" />
        <activity
            android:name=".CreateSourceNews"
            android:exported="false" />
        <activity
            android:name=".CreateCateNews"
            android:exported="false" />
        <activity
            android:name=".UpdateAdminAccount"
            android:exported="false" />
        <activity
            android:name=".AccountUserManager"
            android:exported="false" />
        <activity
            android:name=".UIEmployee"
            android:exported="false" />
        <activity
            android:name=".AdminSetting"
            android:exported="false"
            android:label="Add Account"
            android:parentActivityName=".UIAdmin" />
        <activity
            android:name=".UIAdmin"
            android:exported="false" />
        <activity
            android:name=".Weather"
            android:exported="false" />
        <activity
            android:name=".UserSetting"
            android:exported="false" />
        <activity
            android:name=".User"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Giavang"
            android:exported="false" />
        <activity
            android:name=".Xoso"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MotionLayout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>